html,body{
    margin: 0;
    padding: 0;
}
* {
    color: black;
    font-family: 'GFS Didot', serif;
}
h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

body {
	background: white;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: black;
    z-index: 100;
}
#logoinicio {
    width: 70px; 
}
#logoinicio img {
    width: 100%;
    padding: 10px;
    object-position: center;
    object-fit: cover;
}
#navegador ul{
    list-style-type: none;
    text-align: center;
    font-family: 'GFS Didot', serif;
    font-size: 20px;
    overflow: auto;
    padding: 5px;
    display: flex;
 }
 #navegador li{
    display: inline-block;
    text-align: middle;
 }
 #navegador li a {
    display: block;
    padding: 0 20px 5px 20px ;
    color: white;
    text-decoration: none;
 }
 #navegador li a:hover{
    color: cyan;
 }
 #menunav {
    background-color: black;
    font-size: 20px;
    display: none;
 }
 #menunav i{
    color: white;
 }
 #info {
    padding-top: 120px;
 }
 #info li i:hover {
    color: cyan;
 }
 #yosoy {
    font-family: 'GFS Didot', serif;
    color: black;
    font-weight: bold;
    background-color: cyan;
    padding: 5px 30px 5px 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: 45px;
 }
#nombre {
    font-family: 'GFS Didot', serif;
    font-size: 48px;
    margin: 15px 0 0 45px;
}
#profesion {
    font-family: 'GFS Didot', serif;
    font-size: 24px;
    margin: 5px 0 0 45px;
}
.mail-tel-direc li{
    padding: 5px;
}
.fotogiro {
    position: relative;
    display: flex;
    width: 300px;
    height: 300px;
    transition: transform 0.8s ease-in-out;
}
.fotoestilo {
    width: 350px;
    background: #00FFFF;
    background: -moz-linear-gradient(top, #00FFFF 0%, #FF00FF 50%, #FFFF00 100%);
    background: -webkit-linear-gradient(top, #00FFFF 0%, #FF00FF 50%, #FFFF00 100%);
    background: linear-gradient(to bottom, #00FFFF 0%, #FF00FF 50%, #FFFF00 100%);
    padding: 30px;
    border-radius: 300px;
}
.fotogiro img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
  }
  .fotogiro img:last-child {
    opacity: 0;
    transform: rotateY(180deg);
  }
  .fotogiro.active {
    transform: rotateY(180deg);
  }
  .fotogiro.active img:first-child {
    opacity: 0;
  }
  .fotogiro.active img:last-child {
    opacity: 1;
    transform: rotateY(180deg);
  }
#redes {
    color: cyan;
}
#redes ul {
    list-style-type: none;
    text-align: left;
    overflow: hidden;
 }
#redes li {
    display: inline-block;
    text-align: middle;
    padding-right: 15px;
    padding-left: 15px;
}
#redes li i{
    font-size: 30px;
    padding: 5px;
}
#redes li i:hover {
    color: magenta;
    padding: 15px;
    background-color: black;
    border-radius: 5px;
}
#acercade {
    padding-top: 100px;
}
#cmyk {
    display: grid;
    justify-content: center;
}
#cmyk img{
    width: 430px;
}
.acerca {
    padding: 30px;
}
.acerca h2 {
    font-size: 30px;
    text-align: left;
}
.acerca p{
    font-size: 16px;
    text-align: left;
}
#habilidades {
    padding-top: 70px;
}
#exp {
    padding-top: 70px;
}
#partedu {
    padding-top: 80px;
}
.cajas {
    padding: 5px;
    margin: 25px;
    -webkit-box-shadow: 0px 0px 24px 4px rgba(31,31,31,0.93); 
    box-shadow: 0px 0px 24px 4px rgba(31,31,31,0.93);
    text-align: center;
    border-radius: 20px;
    border-left:5px solid cyan;
    border-top:5px solid magenta;
    border-right:5px solid #FFFF00;
    border-bottom: 5px solid black;
}
.cajas h3{
    font-size: 24px;
    margin: 3px;
    padding: 5px;
}
.cajas h4 {
    margin: 3px;
    padding: 5px;
}
.cajas h5{
    font-size: 16px;
    margin: 3px;
    padding: 5px;
}
.cajas h6 {
    font-size: 16px;
    margin: 3px;
    padding: 5px;
}
.cajas ul {
    font-size: 16px;
}
#habilidades span{
    font-weight: bold;
}
.progress {
    height: 6px;
    width: 100%;
    border: 0px solid #428bca;
    border-radius: 5px;
    background-color: grey;
    margin-bottom: 15px;
}
.progress-bar {
    height: 100%;
    background: magenta;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}
.progress-bar-text {
    margin-left: 10px;
    color: #cce7f5;
}
.progressprof {
    height: 6px;
    width: 100%;
    border-radius: 5px;
    background-color: yellow;
    margin-bottom: 15px;
}
.tipohabp {
    text-align: right;
    padding-bottom: 5px;
}
.progress-bar-circ {
    height: 100%;
    background: grey;
    display: block;
    align-items: right;
    transition: width 0.25s;
    border-radius: 5px;
}
footer {
    text-align: center; /* alinea los enlaces al centro */
  }
footer a {
    color: black; /* color del texto del enlace */
    text-decoration: none; /* quita la decoración de subrayado */
    padding: 5px; /* espacio alrededor del texto del enlace */
    display: inline-block; /* muestra los enlaces en línea */
    margin-right: 20px; /* espacio entre los enlaces */
  }
  
  footer i:hover {
    color: magenta; /* color del texto del enlace cuando se pasa el ratón por encima */
  }
  #puntoscarga {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: whitesmoke;
  }
  
  .punto {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    opacity: 0;
    animation: appear 1s ease-in-out infinite;
  }
  
  .cyan {
    background-color: cyan;
    animation-delay: 0.2s;
  }
  
  .magenta {
    background-color: magenta;
    animation-delay: 0.3s;
  }
  
  .amarillo {
    background-color: yellow;
    animation-delay: 0.4s;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .scroll {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .scroll.active {
    opacity: 1;
  }

@media only screen and (max-width: 800px) {
    /* Para pantallas mas chicas*/
    [class*="col-"] {
      width: 100%;
    }
    .desaparecer{
        display: none;
    }
    #menunav {
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 0px;
    }
    #navegador ul{
        flex-direction: column;
    }
    * {
        text-align: center;
    }
    #redes ul {
        text-align: center;
    }
    .fotoperfil {
        text-align: center;
  }
}